@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  justify-content: center;
  background-image: url("../public/pexels-tim-mossholder-3222686.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.slowdown {
  animation: slowdown 200ms;
}
@keyframes slowdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader::after {
  content: "";
  position: absolute;
  border: 5px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.animateOpacity {
  animation: animateOpac 0.3s ease;
}
@keyframes animateOpac {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.sidebar::-webkit-scrollbar {
  width: 1;
}

.appear-slow {
  animation: ease-in-out appear 100ms;
}
@keyframes appear {
  from {
    height: 0;
    opacity: 0.5;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}
